

.table {
  border: 2px solid black;
  border-radius: 40px;
  width: 100%;
  font-size: 20px;
}

.table td {
  text-align: center;
  margin: 5px;
}

.table th {
  text-align: center;
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 70px;
}

.btn {
  background-color: gold;
  text-align: center;
  align-self: center;
  border: 1px solid black;
  height: 70px;
  width: 150px;
  border-radius: 50px;
  font-size: large;
  font-weight: bold;
  margin: 50px;
}

.btn:hover {
  background-color: black;
  color: gold;
  cursor: pointer;
}

.btn-div {
  text-align: center;
}

#mod,
#del {
  cursor: pointer;
}

span {
  margin: 5px;
}
