<h1>Darts Players</h1>

@if(!newPlayer && !modifiedPlayer){
<table class="table table-hover table-bordered">
  <tr class="text-center">
    <th></th>
    <th>Név</th>
    <th>Nemzetiség</th>
    <th>Világbajnoki címek</th>
    <th>PDC torna győzelmek</th>
    <th>Becenév</th>
    <th>Születési hely</th>
    <th>Kor</th>
    <th>Aktív</th>
    <th>Bevonuló zenéje</th>
  </tr>
  @for (player of players; track $index){
  <tr>
    <td>
      <span (click)="modify(player)" id="mod">&#9998;</span>
      <span (click)="delete(player)" id="del">&#10008;</span>
    </td>
    <td>
      {{ player.name }}
    </td>
    <td>{{ player.nationality }}</td>
    <td>{{ player.wchamptitles }}</td>
    <td>{{ player.pdc_titles }}</td>
    <td>{{ player.nickname }}</td>
    <td>{{ player.hometown }}</td>
    <td>{{ player.age }}</td>
    <td>{{ player.active ? "Igen" : "Nem" }}</td>
    <td>{{ player.walkOnSong }}</td>
  </tr>
  }
</table>
<div class="btn-div">
  <button class="btn" (click)="new()">Új felvétele</button>
</div>
}
<app-player-data
  [playerData]="newPlayer"
  (canceled)="CanceledForm()"
  (saved)="saveNew($event)"
></app-player-data>
<app-player-data
  [playerData]="modifiedPlayer"
  (canceled)="CanceledForm()"
  (saved)="saveModified($event)"
></app-player-data>
